# MacOS specific
.DS_Store

# Python cache
__pycache__

# Virtual environment
.venv*
.env*

# Unit tests
.hypothesis

# Build
build
dist
**/*.egg-info

# Docs
docs/make.bat
docs/_build
docs/source/api/generated
*generated

# VSCode settings
.vscode

# Debug
tmp*

# Other
logos

# Notebooks

.ipynb*

# Sphinx gallery

docs/source/sg_execution_times.rst
docs/source/user-guide/conventions/bravais-lattices
docs/source/user-guide/usage/visualization
